.form-wrap {
  height: 80px;
  background-image:linear-gradient(to right,
      #5adaee,
      #2b21e8);
  padding-top: 20px;
  padding-bottom: 20px;

}
form {
  width: fit-content;
  margin: 0 auto;

  
}

.input-wrap{
  position: relative;
  input {
      height: 30px;
      border-radius: 15px;
      border-color: transparent;
      padding-left: 30px;
      width: 320px;
      
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      height: 30px;
      border-radius: 15px;
      border-color: transparent;
      background-color: rgb(217, 220, 220);
      width: 80px;
      cursor: pointer;
      &:hover{
        background-color: rgb(157, 159, 159);
        color: #fff;
      }
    }
    i{
      position: absolute;
        left: 10px;
        top: 8px;
        &.is-hidden{
          display: none;
        }  
    }
    svg{
      position: absolute;
        left: 10px;
        top: 8px;
        &.is-hidden {
            display: none;
          }
      }
    
}
.load-more {
    height: 30px;
    border-radius: 15px;
    border-color: transparent;
    background-color: rgb(217, 220, 220);
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 35px;
    display: block;
    margin-bottom: 50px;
    &.is-hidden {
        display: none;
      }
    
    &:hover {
        background-color: rgb(157, 159, 159);
        color: #fff;
      }
    i.is-hidden{
      opacity: 0;
    }
}