.form-wrap {
  height: 80px;
  background-image:linear-gradient(to right,
      #5adaee,
      #2b21e8);
 padding: 20px;

}
form {
  width: fit-content;
 
}

.input-wrap{
  position: relative;
  margin-left: 50%;
  input {
      height: 30px;
      border-radius: 15px;
      border-color: transparent;
      padding-left: 30px;
      width: 320px;
      
    }

    button {
      position: absolute;
      right: 0;
      top: 0;
      height: 30px;
      border-radius: 15px;
      border-color: transparent;
      background-color: rgb(217, 220, 220);
      width: 80px;
      cursor: pointer;
      &:hover{
        background-color: rgb(157, 159, 159);
        color: #fff;
      }
    }
    i{
      position: absolute;
        left: 10px;
        top: 8px;
        &.is-hidden{
          display: none;
        }  
    }
    svg{
      position: absolute;
        left: 10px;
        top: 8px;
        &.is-hidden {
            display: none;
          }
      }
    
}
.load-more {
    height: 30px;
    border-radius: 15px;
    border-color: transparent;
    background-color: rgb(217, 220, 220);
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 35px;
    display: block;
    margin-bottom: 30px;
    &.is-cheked {
      display: none;
    }
    &.is-hidden{
      opacity: 0
    }
    
    &:hover {
        background-color: rgb(157, 159, 159);
        color: #fff;
      }
    i.is-hidden{
      opacity: 0;
    }
}
.menu-wrap{
  display: flex;
}

.scroll-selector{
  display: block;
  height: 30px;
  background-color: white;
  border-radius: 15px;
  padding-left: 15px;
  padding-right: 15px;
  width: fit-content;
  flex-shrink: 0;
  display: flex;
  align-items: center;
  
  input{
    margin-right: 5px;
  }
}
