
<div class="form-wrap">
  <form class="search-form" id="search-form">
  <div class="input-wrap">
  <i class="fa fa-spinner fa-spin is-hidden"></i>
  <svg width="15" height="15">
    <use href="./images/symbol-defs.svg#icon-search"></use>
  </svg>
  <input type="text" name="searchQuery" autocomplete="off" placeholder="Search images..." />
  <button type="submit">Search</button>
  </div>
</form>
</div>
<div class="gallery"></div>
<button type="button" class="load-more is-hidden">Load more</button>